.design-types-selection-group {
    gap: 2px;
}

.design-types-selection-group .btn {
    color: var(--color-middle);
    border-color: var(--color-middle);
    border-bottom: none;
    padding-top: 2px;
}


.design-types-selection-group .btn:hover {
    color: white;
    background-color: var(--color-middle) !important;
}

.design-types-selection-group .btn:checked {
    background-color: var(--color-middle) !important;
}

.design-selection-container {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: hidden;
}

.design-thumbnails-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-color: var(--color-middle) !important;
    overflow-y: auto;
}

/* Estilos para el track del scrollbar (la barra gris) */
.design-thumbnails-grid::-webkit-scrollbar {
    width: 5px; /* Ancho del scrollbar */
  }
  
  /* Estilos para el thumb del scrollbar (la barra de desplazamiento) */
  .design-thumbnails-grid::-webkit-scrollbar-thumb {
    background-color: var(--color-middle); /* Color del thumb */
    border-radius: 10px; /* Radio de la esquina del thumb */
  }
  
  /* Estilos para el thumb del scrollbar cuando está en estado hover */
  .design-thumbnails-grid::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary); /* Color del thumb en hover */
  }
  
  /* Estilos para el thumb del scrollbar cuando está en estado activo (haciendo click sobre él) */
  .design-thumbnails-grid::-webkit-scrollbar-thumb:active {
    background-color: #333333; /* Color del thumb en estado activo */
  }