
.structure-thumbnail div {
    width: 56px !important;
    height: 33px;
    border: 2px solid var(--color-middle);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}