
.structure-thumbnail div {
    width: 56px !important;
    height: 33px;
    border: 2px solid var(--color-middle);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bs-progress-bg);
}

.structure-thumbnail:hover {
    background-color: var(--color-border);
}

.structure-selected {
    background-color: rgb(190, 217, 239);
}

.structure-Unselected{
    background-color: white;
}