.modalCotizationContainer{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.719);
    z-index: 1;
}

.modalCotizationContent{
    width: 80%;
    height: 95%;
    background-color: white;
    border-radius: 20px;
    position: relative;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    overflow: hidden;
}
.modalPreviewContent{
    height: 70vh;
        width: 50%;
    background-color: white;
    border-radius: 20px;
    position: relative;
    flex-wrap: wrap;
    padding: 1rem 2rem;

}
@media screen and (min-width: 1366px) {
    .modalCotizationContent {
        width: 60%;
    }
}

@media screen and (min-width: 1600px) {
    .modalCotizationContent {
        height: 82vh;
        width: 50%;
    }
}

.modalCotizationContent .mosaicResumeImage {
    height: 140px;
    width: 140px;
}

.modalCotizationContent .timeline-content-quotation {
    flex-wrap: wrap;
    gap: 0.2rem;
    row-gap: 0;
}

.modalCotizationContent .timeline-content-quotation img {
    width: 20px;
}

.topContent {
    display: flex;
    flex-direction: column;

}

.fristContent {
    flex: 1;
    margin-top: -3%;
}

.secondContent {
    flex: 1;
    display:flex;
    gap: 2rem;
    
}

.closeModal {
    position: absolute;
    top: 1.5%;
    right: 2%;
    z-index: 20;
    color: var(--color-middle);
}

.closePreview {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 50px;
    top: -6%;
    right: -6%;
    z-index: 20;
    font-family:'Roboto', sans-serifs;
    color: var(--color-white);
    font-size: 30px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-middle);
}

.closeModal:hover {
    color: var(--color-middle);
}

.titlesContainer{
    display: flex;
    margin-bottom: 1rem;
}

.titleImage {
    margin-top: 10px;
    font-size: 40px; /* Adjust this value to make the icon bigger or smaller */
    width: 20%;
    color: var(--color-middle);
    margin-right: 2%;
    display: flex; /* Flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}


.titleText{
    width: 75%; 
    align-items: center; 
    margin-left: 12%;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.titleCotizacion{
    color: var(--color-middle);
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.paragraphCotizacion {
    margin-bottom: 0 !important;
}

.priceCotization{
    color: var(--color-primary);
    margin-top: 0px;
}

.containerDepartaments{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.labelDepartament{
    color: var(--color-primary);
}

.selectDepartament:focus-visible{
    outline: none;
}

.selectDepartament{
    width: 50%;
    padding: 5px 0;
    border-radius: 8px;
    margin-top: 10px;
    color: var(--color-second);
    padding-left: 10px;
}

.businessTitle{
    color: var(--color-middle);
    margin-top: 20px;
    align-items: center;
}
.business{
display: flex;
    justify-content: center;
}

.formModalCotization{
    display: flex;
    margin-top: 20px;
}

.contentLabelForm{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right:5% ;
    margin-bottom: 10px;
}

.cotizationLabel{
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--color-primary);
    font-weight: 600;
}

.inputCotization{
    padding: 5px 0px;
    padding-left: 5%;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
    font-size: 14px;
    color: var(--color-second);
}


/* -------------------------------------------------------------- */
.subTitleDeesgin{
    width: 100%;
    color: var(--color-primary);
}

.units{
    margin-top: 10px;
    width: 100%;
    font-size: 18px;
}

.details{
    overflow-y: auto;
}

.detailsFormat{
    margin-top: 10px;
}

.detailsFormat, .detailsAria , .detailsStyle, .detailsColors{
    font-size: 20px;
    color: var(--color-primary);
    margin-left: 10px;
}

.textFormat, .textAria, .textStyle, .textColors{
    margin-left: 10px;
}



/* Personalización de la barra de desplazamiento en navegadores WebKit */
.details::-webkit-scrollbar {
    width: 5px; /* ancho de la barra de desplazamiento */
}
  
/* Personalización del pulgar */
.details::-webkit-scrollbar-thumb {
background-color: var(--color-fourth); /* color del pulgar */
border-radius: 10px; /* redondea las esquinas del pulgar */
}

/* Personalización del fondo de la barra de desplazamiento */
.details::-webkit-scrollbar-track {
background-color: rgb(189, 189, 189); /* color del fondo */
}

/* Personalización del pulgar al pasar el cursor sobre él */
.details::-webkit-scrollbar-thumb:hover {
background-color: var(--color-primary); /* color del pulgar al pasar el cursor sobre él */
}


/* -------------------------------------------------- */

.bottomContent {

    display: flex;
    font-size: 20px;
    width: 70%;
    text-align: center;
    flex-direction: row;
    justify-content: center;        /* Vertically centers children in the flex container */
    align-items: center;            /* Horizontally centers children */
    margin-inline: auto;            /* Centers the container itself */
}

.bottomItem
{
    min-width: 200px;
    max-height: 50%;
}

.aceptConditions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

.checkBoxCotization{
    margin-right: 6px;
}

.buttonsCotizar{
    scale: 0.8;
    max-width: 300px;
    width: 100%;
}
