.textures-selection-container {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

.textures-containter-grid-content {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100% !important;
    max-width: 100%;
    border-color: var(--color-middle) !important;
    max-height: 380px;
}

@media screen and (min-width: 390px) {
    .textures-containter-grid-content {
        max-height: 280px;
    }
}

@media screen and (min-width: 1180px) {
    .textures-containter-grid-content {
        max-height: 340px;
    }
}

@media screen and (min-width: 1366px) and (max-width:1600px) {
    .textures-containter-grid-content {
        height: 200px;
    }
}

.textures-containter-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 100%;
}

@media screen and (min-width: 390px) and (max-width: 1366px) {
    .textures-containter-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1366px) and (max-width: 1800px) {
    .textures-containter-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.textures-containter-grid div {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.color-container-name
{
    width: 100%;
    height: 30px!important;
    opacity: 50%;
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center!important;
    justify-content: center;
    
}

.cursor-pointer-hover:hover > .color-container-name {
    background-color: var(--color-middle);
    color: white;
    opacity: 1;
}

