.textures-selection-container {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

.textures-containter-grid-content {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100% !important;
    max-width: 100%;
    border-color: var(--color-middle) !important;
    max-height: 380px;
}

.textures-containter-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 100%;
}

.textures-containter-grid div {
    padding: 50%;
}