.grouts-containter {
    border-color: var(--color-middle) !important;
    overflow-x: auto;
}

.grout-thumbnail {
    width: 35px !important;
    height: 30px;
    border: 1px solid var(--color-middle) !important;
    background-size: cover;
}