.grouts-containter {
    border-color: var(--color-middle) !important;
    overflow-x: auto;
}

.grout-thumbnail {
    width: 35px !important;
    height: 25px;
    border: 2px solid var(--color-middle) !important;
    background-size: cover;
}