.video-caption-container {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background: rgba(87,85,85,.49);
    border-radius: 7px;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    mix-blend-mode: normal;
    width: 100%;
    color: var(--color-white);
    width: 90%;
}

.video-caption-container label small {
    font-size: 16px;
}

.video-button-text {
    white-space: nowrap;
}

/* --------------------- CSS Jose  */

.modalVideo{
    width:100%;
    height:100vh;
    background:rgba(0, 0, 0, 0.747);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:10000;
    position:fixed;
    top: 0;
}

.containerVideo{
    width: 60%;
    height: 70%;
    background-color:transparent;
    display: flex;
    border-radius: 10px;
    position: relative;
}

.closeModalVideo{
    position: absolute;
    top: -3%;
    right: -2%;
    padding: 5px 15px;
    border-radius: 50%;
    background-color:#0069b4 ;
    color: white;
    font-size: 35px;
    cursor: pointer;
    transition: all;
    z-index: 1;
}

.closeModalVideo:hover{
    transform: scale(1.1);
}

.modalVideo{
    width: 100%;
    height: 100%;
}