
.experience-format-thumbnail:hover {
    background-color: var(--color-border);
}

.experience-format-thumbnail div {
    background-color: var(--color-middle);
}

.experience-format-thumbnail small {
    font-size: 10px;
    color: var(--color-middle);
}


