
:root {
    --color-progressVar: #0069B4;  /* progress color */
    --color-textVar: #0069B4;  /* text color */
    --color-trailVar: #F5F5F5;  /* background color */
}


.steeps-navbar {
    width: 100%;
    height: 130px;
    overflow-x: auto;
    align-items: center;
}


.circular-progress-bar-continer {
    min-width: 94px;
    max-width: 94px;
    height: 94px;
    align-items: center;
    display: flex;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke: var(--color-progressVar);
}

.CircularProgressbar .CircularProgressbar-text {
    stroke: var(--color-textVar);
}

.CircularProgressbar .CircularProgressbar-trail {
    stroke: var(--color-trailVar);
}
.navbar-item {
    width: 150px;
}

.navbar-item path {
    fill: var(--color-textVar) !important;
}

.navbar-item-text {
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    color: var(--color-progressVar) !important;
}

.iconNavBarOptions{
    margin-left: 50px;
}