.experience-content {
    display: grid;
    grid-gap: 0;
    grid-template-rows: auto 1fr;
    height: 100%;
    
}

@media screen and (min-width: 390px) and (max-width: 1366px) {
    .experience-content {
        overflow: auto;
    }
}

