.experience-behavior-container {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    height: fit-content !important;
}

@media screen and (width:390px) and (height: 844px) {
    .experience-behavior-container {
        height: fit-content !important;
    }
}

.experience-steeps-button {
    color: var(--color-middle);
    text-transform: uppercase;
    border-radius: 8px !important;
    transition: .3s ease !important;
    border: 2px solid var(--color-middle);
    font-weight: 600;
    height: 48px;
    min-width: 120px;
}

.experience-steeps-button:hover {
    background-color: #CEEEFA;
    color: var(--color-middle) !important;
    border: 2px solid var(--color-middle) !important;
}

.experience-steeps-button:active {
    background-color: #B0E3F7 !important;
    color: #213C65 !important;
    border: 2px solid #213C65 !important;
}

.textures-selection-column {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1.6rem;
}

@media screen and (width: 390px) and (height: 844px) {
    .textures-selection-column {
        display: flex !important;
        flex-direction: column !important;
    }
}

@media screen and (width: 1366px) {
    .textures-selection-column {
        gap: .5rem;
    }
}

.header-view {
    display: flex;
}

@media screen and (min-width: 390px) and (max-width: 1366px) {
    .header-view {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    .header-view div:nth-child(2) {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

    .header-view div:nth-child(3) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .header-view > div {
        width: 100% !important;
    }
}
