:root{
  --color-primary:#00355A;
  --color-middle:#0069B4;  
  --color-second: #ABABAB;
  --color-third:#213C65;
  --color-fourth:#3ABAEC;
  --color-white:#FFFFFF;

  --bs-progress-bg:#FFFFFF;
  --color-progressVar:#0069B4;
  --color-border: #d5d9dd;
  --color-confirm-alert-bg: #E2FFF2;
  --color-confirm-alert-border: #11A678;
  --color-confirm-alert-text: #0C6F55;
  --color-confirm-alert-hover: #0C6F55;
  --color-confirm-alert-active: #0A4D33;

  --color-info-alert-bg: #CEEEFA;
  --color-info-alert-border: #0069B4;
  --color-info-alert-text: #0069B4;

  --color-error-alert-bg: #FFECEC;
  --color-error-alert-border: #F32F2F;
  --color-error-alert-text: #F32F2F;

  --color-warning-alert-bg: #FDFADC;
  --color-warning-alert-border: #F5CC39;
  --color-warning-alert-text: #F5CC39;

  --color-text-alert :#213C65;
  --toastify-toast-width: 400px;
  --toastify-font-family: Roboto;
}


/* COLORS */
.color-primary { color: var(--color-primary); }
.color-middle { color: var(--color-middle); }
.color-second { color: var(--color-second); }
.color-third { color: var(--color-third); }
.color-fourth { color: var(--color-fourth); }
.color-white { color: var(--color-white); }
/* COLORS */

/* BG-COLORS */
.background-color-primary { background-color: var(--color-primary); }
.background-color-middle { background-color: var(--color-middle); }
.background-color-second { background-color: var(--color-second); }
.background-color-third { background-color: var(--color-third); }
.background-color-fourth { background-color: var(--color-fourth); }
.background-color-white { background-color: var(--color-white); }
/* BG-COLORS */

/* B-COLORS */
.border-color-primary { border-color: var(--color-primary) !important; }
.border-color-middle { border-color: var(--color-middle) !important; }
.border-color-second { border-color: var(--color-second) !important; }
.border-color-third { border-color: var(--color-third) !important; }
.border-color-fourth { border-color: var(--color-fourth) !important; }
.border-color-white { border-color: var(--color-white) !important; }
/* B-COLORS */


*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-middle);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}

*::-webkit-scrollbar-thumb:active {
  background-color: #333333;
}


#root {
  height: 100%;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  width: 100vw;
  height: 100vh !important;
  background-color: #0C6F55;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-background{
  background-color: var(--color-middle) !important;
  border: none !important;
  outline: none !important;
  transition: .3s ease-in-out !important;
  cursor: pointer !important;
}

.button-background > * {
  cursor: pointer;
}

.button-background:hover{
  background-color: #005490 !important;
}

.cursor-pointer {
  cursor: pointer;
  transition: .3s all ease;
  outline: 2px solid transparent;
}

.cursor-pointer-hover:hover {
  outline: 2px solid var(--color-middle);
}

.item-superficie {
  transition: .2s ease all;
  outline: 2px solid transparent;
}

.item-superficie:hover {
  outline: 2px solid var(--color-middle) !important;
}

.btn-corona {
  text-transform: uppercase;
  font-weight: 600;
  transition: .3s all ease;
  border-radius: 8px;
  height: 48px;
  text-align: center;
}

.btn-corona-primary {
  background-color: var(--color-middle) !important;
  color: var(--bs-progress-bg) !important;
  border: 2px solid var(--color-middle) !important;
}

.btn-corona-primary svg {
  fill: var(--bs-progress-bg);
}

.btn-corona-primary:hover {
  background-color: var(--color-primary) !important;
  border: 2px solid var(--color-primary) !important;
}

.btn-corona-secondary {
  border: 2px solid var(--color-middle);
  background-color: var(--bs-progress-bg);
  color: var(--color-middle);
}

.btn-corona-destructive {
  border: 2px solid #F32F2F;
  background-color: #F32F2F;
  color: var(--bs-progress-bg);
}

.btn-corona-destructive:hover {
  border: 2px solid #CB252F;
  background-color: #CB252F;
  color: var(--bs-progress-bg);
}

.btn-corona-add {
  background-color: #11CE78 !important;
  color: var(--bs-progress-bg) !important;
  border: 2px solid #11CE78 !important;
}

.btn-corona-add:hover {
  background-color: var(--color-confirm-alert-border) !important;
  color: var(--bs-progress-bg) !important;
  border: 2px solid var(--color-confirm-alert-border) !important;
}

.btn-corona-add:active,
.btn-corona-add:focus {
  background-color: #0C6F55 !important;
  border: 2px solid #0C6F55 !important;
  color: var(--bs-progress-bg) !important;
}

.btn-corona-icon{
  height: 48px;
  width: 48px;
}

.label-corona {
  font-size: 16px;
  font-weight: 400;
  color: #213C65;
}

.form-check-input:hover {
  cursor: pointer;
}

.form-check-input:checked {
  background-color: var(--color-middle) !important;
  border-color: var(--color-middle) !important;
  box-shadow: none !important;
}

.form-check-input:focus {
  box-shadow: none !important;
}

@media screen and (max-width: 1366px) {
  .corona-logo {
    object-fit: contain;
    width: 150px;
  }
}