:root{
  --color-primary:#00355A;
  --color-middle:#0069B4;
  --color-second: #ABABAB;
  --color-third:#213C65;
  --color-fourth:#3ABAEC;
  --color-white:#FFFFFF;

  --bs-progress-bg:#FFFFFF;
  --color-border: #d5d9dd;
  --color-confirm-alert-bg: #E2FFF2;
  --color-confirm-alert-border: #0C6F55;
  --color-confirm-alert-text: #0C6F55;

  --color-info-alert-bg: #CEEEFA;
  --color-info-alert-border: #0069B4;
  --color-info-alert-text: #0069B4;

  --color-error-alert-bg: #FFECEC;
  --color-error-alert-border: #F32F2F;
  --color-error-alert-text: #F32F2F;

  --color-warning-alert-bg: #FDFADC;
  --color-warning-alert-border: #F5CC39;
  --color-warning-alert-text: #F5CC39;

  --color-text-alert :#213C65;
  --toastify-toast-width: 400px;
  --toastify-font-family: Roboto;
}

/* COLORS */
.color-primary { color: var(--color-primary); }
.color-middle { color: var(--color-middle); }
.color-second { color: var(--color-second); }
.color-third { color: var(--color-third); }
.color-fourth { color: var(--color-fourth); }
.color-white { color: var(--color-white); }
/* COLORS */



#root {
  height: 100%;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  width: 100vw;
  height: 100vh !important;
  background-color: #0C6F55;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
