.environment-text-container {
    background-image: url(../../../../assets/image/pared.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* .environment-carousel-content {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
} */

  .environment-item {
    flex: 0 0 50%;
    min-width: 50%;
    padding: 5px;
  }