.experience-color-palette-selection-container {
    border: 1px solid var(--color-middle);
}

.select-color-palette-btn {
    background-color: var(--color-middle);
    border-color: var(--color-middle);
}

.color-palette-item {
    padding: .8rem;
    border: 1px solid var(--color-middle);
}

.color-palette-row {
    display: flex;
    gap: 11px;
}

.color-palette-rowList{
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.titleListRow{
    width: 30%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textures-selection-column.col-5.h-100{
    position: relative !important;
}

.optionsColorsList{
    position: absolute;
    top: 5.5%;
    background-color: white;
    width: 100%;
    height: max-content;
    transition: all .5s ease-in-out;
    overflow: hidden;
    -webkit-box-shadow: 1px 14px 5px 7px rgba(0,0,0,0.05);
    -moz-box-shadow: 1px 14px 5px 7px rgba(0,0,0,0.05);
    box-shadow: 1px 14px 5px 7px rgba(0,0,0,0.05);
}

.hiddenList{
    height: 0;

}