.select-color-palette-btn {
    background-color: var(--color-middle);
    border-color: var(--color-middle);
}

.color-palette-item {
    width: 30px;
    height: 30px;
    border: solid 1px rgb(136, 136, 136);
}

.color-palette-row {
    display: flex;
    gap: 11px;
}

.color-palette-rowList{
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.titleListRow{
    width: 26.5%;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.textures-selection-column.col-5.h-100{
    position: relative !important;
}

.seleccionSmall{
    padding-left: 9px;
}

.optionsColorsList{
    position: absolute;
    top: 8%;
    background-color: white;
    width: 100%;
    height: max-content;
    transition: all .5s ease-in-out;
    overflow: hidden;
    -webkit-box-shadow: 1px 14px 5px 7px rgba(0,0,0,0.05);
    -moz-box-shadow: 1px 14px 5px 7px rgba(0,0,0,0.05);
    box-shadow: 1px 14px 5px 7px rgba(0,0,0,0.05);
    border: 1px var(--color-middle) solid;
}

.hiddenList{
    height: 0;

}