.select-color-palette-btn {
    background-color: var(--color-middle);
    border-color: var(--color-middle);
}

.color-palette-item {
    width: 50px;
    height: 40px;
    border: solid 1px rgb(136, 136, 136);
    cursor: pointer;
}

.color-palette-item-list {
    width: 50px;
    height: 30px;
    border: solid 1px rgb(136, 136, 136);
}

.color-palette-row {
    
    justify-content: center;
    align-items: center;
margin-bottom: 10%;
gap: 10px;
    display: flex;

}

@media screen and (min-width: 1366px) and (max-width: 1600px) {
    .color-palette-row {
        gap: 6px;
    }
}

.color-palette-rowList{
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.titleListRow{
    width: 26.5%;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.textures-selection-column.col-5.h-100{
    position: relative !important;
}

.seleccionSmall{
    padding-left: 9px;
}

.optionsColorsList{

    background-color: white;
    width: 100%;
    height: 500px;
    transition: all .5s ease-in-out;
    overflow: auto;
    -webkit-box-shadow: 1px 14px 5px 7px rgba(0,0,0,0.05);
    -moz-box-shadow: 1px 14px 5px 7px rgba(0,0,0,0.05);
    box-shadow: 1px 14px 5px 7px rgba(0,0,0,0.05);
    border: 1px var(--color-middle) solid;
    padding-right: 10px;

}

@media screen and (min-width:1366px) and (max-width: 1600px) {
    .optionsColorsList {
        top: 12%;
        height: 320px;
        overflow: auto;
    }
}

.hiddenList{
    height: 0;

}
