.mosaic-component {
    width: 100%;
    border: 1px solid var(--color-middle);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.action__buttons {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.action__buttons p {
    font-size: 14px;
    margin-top: .2rem !important;
}